#root {
	width: 100%;
	height: 100%;
	background-color: #fff;
}

#content {
	position: absolute;
	left: 0;
	right: 250px;
	top: 0;
	bottom: 0;
}
#form {
	position: absolute;
	right: 0;
	width: 245px;
	top: 0;
	bottom: 0;
}

#canvas {
	image-rendering: pixelated;
	position: absolute;
}

h1 {
	color: #444;
	font-weight: 100;
}
body, input {
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	font-size: 15pt;
}
input {
	display: block;
	width: 235px;
}
a:link, a:visited {
	color: #0020b4;
	text-decoration: none;
}
a:hover, a:active {
	color: #0e18d1;
}
